.img-principal{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buttons{
    position: relative;
    z-index: 1;
    margin: -550px 0 600px 550px;
}
.button-man, .button-woman{
    margin-left: 200px;
    text-decoration: none;
}
.button-man{
    color: black;
    border: 2px solid black;
    padding: 10px;
    font-size: 25px;
}
.button-woman{
    color: white;
    border: 2px solid white;
    padding: 10px;
    font-size: 25px;
}
